.display{
  margin-top: 10%;
  margin-left: 40%;
  margin-right: 40%;
}

.input_text{
  margin: 10%;
  height: 10%;
}
.main{
  font-size: 40px;
}
.send_address{
  margin-left: 30%;
  margin-right: 30%;
}

.inner_size{
  width: 200px;
  font-size: 5px;
}

.errors{
  color: red;
}